Source: hscalc
Section: devel
Priority: optional
Maintainer: Luis Jose Cabellos Gomez <zhen.sydow@gmail.com>
Standards-Version: 3.7.2
Build-Depends: ghc6, libghc6-gtk-dev, libghc6-glade-dev

Package: hscalc
Architecture: any
Depends: ${shlibs:Depends}
Description: The Haskell Stack Calculator
